<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_Associate"
	iconfile="dataset.png"
	description="ML_Associate"
	tooltip="ML_Associate" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclmlassociate.ECLML_Associate">
            
    <libraries>
        <library name="eclmlassociate.jar"/>
    </libraries>            
</plugin>
