<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_Associate"
	iconfile="eclml.png"
	description="Associate"
	tooltip="Associate" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmlassociate.ECLML_Associate">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmlassociate.jar"/>
    </libraries>            
</plugin>
