<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLSort"
	iconfile="sort.png"
	description="Sort"
	tooltip="Sort" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclsort.ECLSort">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclsort.jar"/>
    </libraries>            
</plugin>
