<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_BuildNaiveBayes"
	iconfile="dataset.png"
	description="ML_BuildNaiveBayes"
	tooltip="ML_BuildNaiveBayes" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclmlbuildnaivebayes.ECLML_BuildNaiveBayes">
            
    <libraries>
        <library name="eclmlbuildnaivebayes.jar"/>
    </libraries>            
</plugin>
