<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLTable"
	iconfile="table.png"
	description="Table"
	tooltip="Table" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.ecltable.ECLTable">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="ecltable.jar"/>
    </libraries>            
</plugin>
