<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLDedup"
	iconfile="dedup.png"
	description="Dedup"
	tooltip="Dedup" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.ecldedup.ECLDedup">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="ecldedup.jar"/>
    </libraries>            
</plugin>
