<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLExecute"
	iconfile="output.png"
	description="Execute"
	tooltip="Execute" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclexecute.ECLExecute">
            
    <libraries>
        <library name="eclexecute.jar"/>
    </libraries>            
</plugin>
