<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLGroup"
	iconfile="dataset.png"
	description="Group"
	tooltip="Group" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclgroup.ECLGroup">
            
    <libraries>
        <library name="eclgroup.jar"/>
    </libraries>            
</plugin>
