<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_BuildClassify"
	iconfile="eclml.png"
	description="Classification - Learn"
	tooltip="Classification - Learn" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmlbuildclassify.ECLML_BuildClassify">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmlbuildclassify.jar"/>
    </libraries>            
</plugin>
