<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_ToField"
	iconfile="eclml.png"
	description="ToField"
	tooltip="ToField" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmltofield.ECLML_ToField">
            
    <libraries>
	<library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmltofield.jar"/>
    </libraries>            
</plugin>
