<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_Classify"
	iconfile="eclml.png"
	description="Classification - Classify"
	tooltip="Classification - Classify" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmlclassify.ECLML_Classify">
            
    <libraries>
  	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmlclassify.jar"/>
    </libraries>            
</plugin>
