<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLError"
	iconfile="icon.png"
	description="Error"
	tooltip="Error" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclerror.ECLError">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclerror.jar"/>
    </libraries>            
</plugin>
