<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_KMeans"
	iconfile="eclml.png"
	description="KMeans"
	tooltip="Kmeans" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmlkmeans.ECLML_KMeans">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmlkmeans.jar"/>
    </libraries>            
</plugin>
