<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLML_FromField"
	iconfile="eclml.png"
	description="FromField"
	tooltip="FromField" 
	category="HPCC Systems - ML"
	classname="org.hpccsystems.pentaho.job.eclmlfromfield.ECLML_FromField">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclmlfromfield.jar"/>
    </libraries>            
</plugin>
