<?xml version="1.0" encoding="UTF-8"?>
<plugin id="SALTConcept"
	iconfile="icon.png"
	description="Salt Concepts"
	tooltip="Salt Concepts" 
	category="HPCC Systems SALT"
	classname="org.hpccsystems.pentaho.job.saltconcept.SALTConcept">
            
    <libraries>
    	<library name="../../hpcc-common/eclsalt.jar"/>
	 	<library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="saltconcept.jar"/>
    </libraries>            
</plugin>
