<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLRollup"
	iconfile="rollup.png"
	description="Rollup"
	tooltip="Rollup" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclrollup.ECLRollup">
            
    <libraries>
	  	<library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclrollup.jar"/>
    </libraries>            
</plugin>
