<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLIndex"
	iconfile="index.png"
	description="Index"
	tooltip="Index" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.eclindex.ECLIndex">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclindex.jar"/>
    </libraries>            
</plugin>
